/* here you can put your own css to customize and override the theme */
@font-face {
    font-family: opensans-regular;
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: opensans-semibold;
    src: url(../fonts/OpenSans/OpenSans-Semibold.ttf);
}
@font-face {
    font-family: opensans-light;
    src: url(../fontsOpenSans//OpenSans-Light.ttf);
}
@font-face {
    font-family: opensans-bold;
    src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
}
.logo-default:hover{
    text-decoration: none;
}
.dasboard-order-img{
    width: 61px;
    height: 61px;
}
.label-purple {
    background-color: #8E44AD;
}
.label-cooking {
    background-color: #95A5A6;
}

.label-delivery {
   background-color: #26C281;
}
.alertsuccess{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border-radius: 4px !important;
    font-weight: bolder;
}
#popupStatus{
    cursor:pointer;
}
.popupdropdown{
    margin-top: 15px;
    margin-bottom: 35px;
}
.viewodercate{
    margin-bottom: 15px;
    padding-left: 0;
}
.reportsgeneratebtn{
   margin-top:15px;
   margin-bottom:10px;
   padding-right: 0px;
   padding-left: 0px;
}
.generateinvoice{
    margin-top: 5px;
    margin-bottom: 15px;
    padding-right: 0px;
    padding-left: 0px;
}
.invoicecustombtn{
    width: 132px;
    border-radius: 6px !important;
    box-shadow: 0px 3px 1px #888888 !important;
}

.actionvieworder{
    font-size:12.5px;
    border-radius: 6px !important;
    box-shadow: 0px 3px 1px #888888 !important;
}
.search-orderlist-btns{
    margin-top: 22px;
}
.customlistminheight {
    /*min-height:470px;*/
    height: 100%;
    min-height: 35em;
}
#tbl_reports_list tr:nth-child(1) th{
    text-align: left;
} 
#tbl_reports_list tr td{
    text-align: center;
}
#tbl_reports_list tr td:nth-child(8){
    width: 85px;
} 
#tbl_customer_list tbody td {
    text-align: center;
}
#tbl_customer_list{
    margin-bottom: 0;
}
#tbl_order_item thead th,#tbl_order_item tbody td {
    text-align: center;
    vertical-align: middle;
}
#tbl_package_item thead th,#tbl_package_item tbody td {
    text-align: center;
    vertical-align: middle;
}
.viewordermiddle{
    vertical-align: middle;
}
.reportcustomersearch{
   /* margin-top: 10px;*/
    margin-top: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.vendor-category-items-search{
    margin-top: 5px;
}
.loadingreportsection {
    display: none;
    text-align: center;
    min-height: 50px;
    background-color: #ffffff;
    padding-top: 50px;
}
.error {
    color: red !important;
}

#food-orders-list th,td{
        text-align: center;
}
.dash_widget:focus, .dash_widget:hover{color: transparent !important;text-decoration: none !important;cursor: pointer !important;}
.table-scrollable .dataTable td>.btnactionorder{
  position: relative;
}

.dataTables_extended_wrapper .table.dataTable {
    margin: 0px 0!important;
}
#tbl_customer_list tr td{
    text-align: center;
}
#tbl_customer_list .customer-action{
    width: 140px !important;
}
#tbl_customer_list .customer-address{
    width: 200px !important;
}
#tbl_customer_list tr:nth-child(1) th:nth-child(5), #tbl_customer_list tr:nth-child(1) th:nth-child(6), #tbl_customer_list tr:nth-child(1) th:nth-child(7){
    text-align: center;
} 
#tbl_customer_list td:nth-child(3), #tbl_customer_list td:nth-child(4) {
    text-align: left;
}
#tbl_customer_list .view-order-history{
    margin-top: -3px;
}

#tbl_reports_list tr th, #tbl_reports_list tr td{
    vertical-align: middle !important;
}
#tbl_reports_list .view-order-items{
    margin-top: -3px;
}
.pack_image{
    width: 24%;
    text-align: right !important;
    float: right;
}
.pack_image2{
    width: 24%;
    text-align: right !important;
    float: right;
    visibility: hidden;
}
.pdf_icon{
    float: right;
}

#tbl_order_invoice_list tr th, #tbl_order_invoice_list tr td{
    text-align: center;
    vertical-align: middle;
}
#tbl_detail_order_item tr th, #tbl_detail_order_item tr td{
    text-align: center;
    vertical-align: middle;
}
#tbl_detail_order_item .orderitemamount{
    text-align: right !important;
    padding-right: 30px;
}
#tbl_detail_order_item{
    margin-bottom: 0;
}
.custom_height {
    min-height: 510px !important;
}
.invoice_status_btn,.invoice_status_btn:hover,.invoice_status_btn:focus{background: none !important;border: none !important;padding: 0 !important}
#paymentStatusNotificationMsg{
    margin: auto;
    float: none;
    display: none;   
}
#paymentStatusNotificationMsg .customsuccessalert{
    margin-top: 18px !important;
    margin-bottom: 0px !important;
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    border: 1px solid transparent;
    border-radius: 4px !important;
}
#payment_status_err {
    display: none;
}
.dataTables_extended_wrapper #tbl_invoice_list.table.dataTable{
        margin: 0px !important;
}
#tbl_invoice_list tr th, #tbl_invoice_list tr td{
    text-align: center;
    vertical-align: middle;
}
#tbl_invoice_list_wrapper .invoice-scrollable{
    margin: 0px !important;
} 
#previewchk, #confirmBtn {
    color: #FFFFFF;
}
#emailNotificationMsg{
    margin: auto;
    float: none;
    display: none;   
    margin-bottom: -17px;     
}
#emailNotificationMsg .customsuccessalert{
    margin-top: 18px !important;
    margin-bottom: 0px !important;
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    border: 1px solid transparent;
    border-radius: 4px !important;
}

#food-vendor-list thead th, #food-vendor-list thead td {
    padding: 8px 10px;
}
.dataTables_extended_wrapper .table.dataTable {
    margin: 0px 0!important;
}
#food-vendor-list  td:nth-child(4) {
      text-align: left;
}
#food-vendor-list  tr:nth-child(1) th{
    text-align: left;
}
#food-vendor-list  tr td{
    text-align: center;
}
.btn-group {
    display: block !important;
}    
.custom_height {
    min-height: 510px !important;
}
.alertmsg{
    padding-left:0px;
    padding-right:0px;
}
.alert-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    border-radius: 4px !important;
    font-weight: bolder;
}
.alert-success .alert-link {
    color: #2b542c;
}
.alert {
    border-radius: 4px !important;
}
.vendor-address{
    width: 280px;
}
.vendor-actions{
    width: 65px;
}
#food-vendor-list tr:nth-child(1) th:nth-child(4){
 text-align: left;
}
#food-vendor-list tr:nth-child(1) th:nth-child(5), #food-vendor-list tr:nth-child(1) th:nth-child(6), #food-vendor-list tr:nth-child(1) th:nth-child(7), #food-vendor-list tr:nth-child(1) th:nth-child(8){
    text-align: center;
} 
.itemRow {
   display: none;
}
#vendor-catgory-item-list tr th{
   text-align: center;
}
#vendor-catgory-item-list tr td{
   text-align: center;
}
#vendor-catgory-item-list tr:nth-child(1) th:nth-child(5) {
 text-align: center;
}
.verticalmiddle{
vertical-align: middle !important;
}
#vendor-catgory-item-list tr td,
#vendor-catgory-item-list tr th {
  background-color: #FFFFFF;
}
.txt_center {
  text-align: center;
}

/*.page-container-bg-solid .page-content {
    background: #fefeff !important;
}*/
#vendor-package-content {
    min-height: 510px !important;
}
#food-packages-list tr th{
   text-align: center;
}
#food-packages-list tr td{
   text-align: center;
}
#food-packages-list tr:nth-child(1) th:nth-child(7) {
 text-align: center;
}
#food-packages-list tr td,
#food-packages-list tr th {
  background-color: #FFFFFF;
}
#tbl_invoice_list tr td:nth-child(4), #tbl_invoice_list tr th:nth-child(4), #tbl_invoice_list .customalign{
    text-align: right;
    padding-right: 35px;
    width: 125px;
}
#tbl_invoice_list{
    margin-bottom: 0;
}
#tbl_customer_list tr td, #vendor-order-list-page-content table tr td {
    vertical-align: middle;
    text-align: center;
}
#vendor-order-list-page-content table tr th {
    vertical-align: middle;
    text-align: center;
}
.page-content#vendor-list-page-content{
    padding-top: 5px;
}
#food-vendor-list tr td {
    vertical-align: middle;
}
#vendor-list-page-content .Pagetext1{
    font-family: opensans-regular;
}
#food-vendor-list .vendor-list-action{
    margin-top: -8px;
}
#food-vendor-list ul.dropdown-menu{
    left: -103px;
}
.dropdown-menu-new>li>a{
    font-family: opensans-regular;
}
#vendor-list-page-content .vendor-list-portlet-title, #vendor-order-list-page-content .vendor-order-list-portlet-title, #vendor-category-item-content .vendor-category-item-portlet-title, #vendor-package-content .vendor-package-portlet-title, #customer-list-page-content .customer-list-portlet-title, #reports-page-content .reports-portlet-title{
    margin-bottom: 0px;
    border-bottom: 0px;
    min-height: 34px;
}
#vendor-list-page-content .vendor-list-portlet-body, #vendor-order-list-page-content .vendor-order-list-portlet-body, #vendor-category-item-content .vendor-category-item-portlet-body, #vendor-package-content .vendor-package-caption{
    padding-top: 0px;
    margin-bottom: 5px;
}
#vendor-order-list-page-content .vendor-order-list-caption, #vendor-category-item-content .vendor-order-cat-item-caption, #vendor-package-content .vendor-package-portlet-body{
    padding-bottom: 0;
}
.hiddenRow {
    display: none;
}
#vendor-catgry-item-list {
    margin-top: 10px;
}
.vendor-category-portlet-body{
    margin-top: 10px;
}
.vendor-package-portlet-body{
    padding-top: 0;
}
#customer-list-page-content .customer-list-portlet-title .caption-new{
    padding-bottom: 0;
}
#vendor-list-page-content .dropdown-menu-new>li>a{
    padding: 8px 8px;
}
#food-orders-list.dataTable td.sorting_1, #food-orders-list.dataTable td.sorting_2, #food-orders-list.dataTable td.sorting_3, #food-orders-list.dataTable th.sorting_1, #food-orders-list.dataTable th.sorting_2, #food-orders-list.dataTable th.sorting_3{
    background-color: transparent !important;
}
.dataTables_extended_wrapper #food-orders-list.table.dataTable{
    margin: 0px 0!important;
}
#confirmEmail{
    color: #ffffff;
}
@media (min-width: 0px) and (max-width: 767px) {
    #food-packages-list{
        margin-top: 0px;
    }
}
@media screen and (min-width: 769px) {
    #food-packages-list{
      margin-top: 20px;
    }
    .remove-left-right-padding{
        padding-left: 0;
        padding-right: 0;
    }
    .search-body{
        margin-bottom: 15px;
    }
}
@media (min-width: 400px) and (max-width: 1199px){
   #reportsearch .search-orderlist-btns{
        text-align: center;
    }
    #customerlistresponsive .search-orderlist-btns {
       text-align: center;
    }
}

@media (min-width:0px) and (max-width: 400px){
    #reportsearch .custombtn {
        width: 70px;
        padding: 6px 0px;
    }
    #reportsearch .search-orderlist-btns{
        text-align: center;
    }
     #customerlistresponsive .search-orderlist-btns {
       text-align: center;
    }
    #reportsearch .remove-left-right-padding{
        padding-left: 0;
        padding-right: 0;
    }
    .modal-dialog select {
        width: 150px !important;
    }
    #vndrpckfltr {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media screen and (min-width: 1203px) {
    #reportsearch .custombtn {
        width: 76px;
        padding: 6px 2px;
    }

}
@media (min-width: 0px) and (max-width: 1170px){    
    .table-scrollable  #food-vendor-list td>.btn-group {
        position: relative !important;    
    }
    #food-vendor-list .dropdown-menu {
        position: relative !important;
    }
}
@media (min-width: 0px) and (max-width: 1199px){
    .search-orderlist-btns {
        text-align: center;
    }
}
@media (min-width: 0px) and (max-width: 369px){
    #bckbtn {
        margin-top: 10px;
    }
}
